/AEDS II/ArvoreB/nbproject/private/
/AEDS II/ArvoreB/build/
/AEDS II/Heap/nbproject/private/
/AEDS II/Heap/build/
/AEDS II/Heap/dist/
/AEDS II/Heaps/nbproject/private/
/AEDS II/Heaps/build/
/AEDS II/Teste/nbproject/private/
/AEDS II/Teste/build/
/AEDS II/Teste/dist/
/AEDS II/Patricia/ArvorePatricia/nbproject/private/
